<!DOCTYPE html>
<html lang="en">
<head class="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Event This Weekend</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <h1>Random London Event This Weekend!</h1>
        <button id="generate-btn">Find Event!</button>
        <div id="event-display"></div> 
    </div>

    <script>
        document.getElementById('generate-btn').addEventListener('click', async function() {
            try {
                // fetch event data from Python file
                const response = await fetch('/getEvent');
                // raise an error if network response not ok
                if (!response.ok) {
                    throw new Error("Network response was not ok");
                }
                // parse JSON eventData
                const eventData = await response.json(); 
                // call the function to display eventData
                displayData(eventData); 
            } catch (error) {
                console.error('Error fetching eventData:', error);
            }
        });

        function displayData(eventData) {
            // get the display div
            const eventDisplayDiv = document.getElementById('event-display'); 
            // clear previous content
            eventDisplayDiv.innerHTML = ''; 

            // display event's name
            const nameDiv = document.createElement('a');
            nameDiv.className = 'name';
            nameDiv.href = eventData['url'];
            nameDiv.target = '_blank';
            nameDiv.innerHTML = `Event Name: ${eventData.name}`;

            // display event's picture
            const picture = document.createElement('img');
            nameDiv.className = 'picture';
            picture.src = eventData.images[0]['url'];
            picture.style.height = "200px";
            picture.style.width = "auto";
            
            // display event's venue
            const venue = document.createElement('div');
            nameDiv.className = 'venue';
            venue.innerHTML = `Venue: ${eventData['_embedded']['venues'][0]['name']}`;
            
            // display event's type
            const eventType = document.createElement('div');
            eventType.className = "eventType"
            eventType.innerHTML = `Event Type: ${eventData['classifications'][0]['segment']['name']}` 

            // append new elements to event display div
            eventDisplayDiv.appendChild(nameDiv);
            eventDisplayDiv.appendChild(venue);
            eventDisplayDiv.appendChild(eventType);
            eventDisplayDiv.appendChild(picture);
            
        }
    </script>
</body>
</html>